.a:hover {
  color: #2196f3;
}

.flex {
  display: flex;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
}
.header-a {
  padding-top: 24px;
  padding-bottom: 25px;
}
.Web {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.Studio {
  color: var(--titles);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.nav {
  display: flex;
}
.header-list {
  display: flex;
  list-style: none;
  margin-left: 92px;
  color: var(--titles);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.list-item:not(:last-child) {
  margin-right: 50px;
}
.list-info {
  display: flex;
  margin-left: 344px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--paraghraphs);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.a {
  text-decoration: none;
}
.a:hover {
  cursor: pointer;
  color: #2196f3;
}
.phone {
  text-decoration: none;
}
.phone:hover {
  cursor: pointer;
  color: #2196f3;
}
.email {
  list-style: none;

  margin-right: 50px;
}

.phone_number {
  list-style: none;
}
