.about-skills {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-title-of-skills {
}
.list-of-skills {
  display: flex;
  list-style: none;
}
.skill:not(:last-child) {
  margin-right: 30px;
}
.skill-img {
  width: 270px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f5f4fa;
  padding: 30px 100px 30px 100px;
  margin-bottom: 30px;
}
.title-of-skill {
  color: var(--titles);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.text-of-skill {
  line-height: calc(24 / 14);
  margin-top: 10px;
  color: var(--paraghraphs);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.42px;
}
