.about-skills {
  @media (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.main-title-of-skills {
}
.list-of-skills {
  list-style: none;
  @media (max-width: 767px) {
    display: block;
    justify-content: center;
  }
  @media (min-width: 768px) {
    display: grid;

    grid-template-columns: repeat(2, 354px);

    grid-template-rows: repeat(2, 224px);

    justify-content: center;

    gap: 30px 30px;
  }
  @media (min-width: 1200px) {
    display: flex;
  }
}
.skill:not(:last-child) {
  margin-right: 30px;
}
.skill-img {
  width: 270px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f5f4fa;
  padding: 30px 100px 30px 100px;
  margin-bottom: 30px;
  @media (min-width: 480px) {
    width: 450px;
  }
  @media (min-width: 768px) {
    width: 354px;
  }
  @media (min-width: 1200px) {
    width: 270px;
  }
}
.title-of-skill {
  color: var(--titles);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
.text-of-skill {
  line-height: calc(24 / 14);
  margin-top: 10px;
  color: var(--paraghraphs);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.42px;
  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
