.about-us {
  padding-bottom: 94px;
}
.about-activities {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  color: var(--titles);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.list-of-activities {
  display: flex;
  justify-content: center;
  list-style: none;
}
.service-item {
  position: relative;
  width: 370px;
  height: 404px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.95);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.4s ease;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
}

.image-item:not(:last-child) {
  margin-right: 30px;
}
.image-item {
  width: 370px;
  height: 294px;
  flex-shrink: 0;
}
.service-item:hover .card-overlay {
  opacity: 1;
}
.about-team {
  height: 708px;
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.list-of-collegues {
  display: flex;
  justify-content: center;
  list-style: none;
}
.image-item-collegues:not(:last-child) {
  margin-right: 30px;
}
.image-item-collegues {
  width: 270px;
  height: 428px;
  flex-shrink: 0;
  border-radius: 0px 0px 4px 4px;
  background: #fff;

  /* material shadow v1 */
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.img {
  height: 260px;
  width: 270px;
}
.name {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.tech-skills {
  display: flex;
  justify-content: center;
  color: var(--paraghraphs);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
