.services {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(./img/background-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-title-of-services {
  display: flex;
  justify-content: center;
  line-height: calc(60 / 44);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;

  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.main-button {
  width: 216px;
  height: 50px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: hidden;
}
.main-button:hover {
  cursor: pointer;
  background-color: #1976d2;
}
